absl-py==0.10.0
adal==1.2.4
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.2
antlr4-python3-runtime==4.7.2
applicationinsights==0.11.9
argcomplete==1.12.0
asn1crypto==0.24.0
astroid==2.4.2
astropy==3.1.2
astunparse==1.6.3
atomicwrites==1.3.0
attrs==19.1.0
azure-batch==9.0.0
azure-cli==2.11.1
azure-cli-core==2.11.1
azure-cli-telemetry==1.0.6
azure-common==1.1.25
azure-core==1.8.1
azure-cosmos==3.2.0
azure-datalake-store==0.0.49
azure-functions-devops-build==0.0.22
azure-graphrbac==0.60.0
azure-identity==1.2.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.0
azure-mgmt-advisor==2.0.1
azure-mgmt-apimanagement==0.1.0
azure-mgmt-appconfiguration==0.5.0
azure-mgmt-applicationinsights==0.1.1
azure-mgmt-authorization==0.52.0
azure-mgmt-batch==9.0.0
azure-mgmt-batchai==2.0.0
azure-mgmt-billing==0.2.0
azure-mgmt-botservice==0.2.0
azure-mgmt-cdn==5.0.0
azure-mgmt-cognitiveservices==6.2.0
azure-mgmt-compute==13.1.0
azure-mgmt-consumption==2.0.0
azure-mgmt-containerinstance==1.5.0
azure-mgmt-containerregistry==3.0.0rc14
azure-mgmt-containerservice==9.0.1
azure-mgmt-core==1.2.0
azure-mgmt-cosmosdb==0.15.0
azure-mgmt-datalake-analytics==0.2.1
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==0.1.0
azure-mgmt-deploymentmanager==0.2.0
azure-mgmt-devtestlabs==4.0.0
azure-mgmt-dns==2.1.0
azure-mgmt-eventgrid==3.0.0rc7
azure-mgmt-eventhub==4.0.0
azure-mgmt-hdinsight==1.7.0
azure-mgmt-imagebuilder==0.4.0
azure-mgmt-iotcentral==3.0.0
azure-mgmt-iothub==0.12.0
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==7.0.0b3
azure-mgmt-kusto==0.3.0
azure-mgmt-loganalytics==0.7.0
azure-mgmt-managedservices==1.0.0
azure-mgmt-managementgroups==0.2.0
azure-mgmt-maps==0.1.0
azure-mgmt-marketplaceordering==0.2.1
azure-mgmt-media==2.2.0
azure-mgmt-monitor==0.11.0
azure-mgmt-msi==0.2.0
azure-mgmt-netapp==0.12.0
azure-mgmt-network==11.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==0.5.0
azure-mgmt-privatedns==0.1.0
azure-mgmt-rdbms==2.2.0
azure-mgmt-recoveryservices==0.4.0
azure-mgmt-recoveryservicesbackup==0.6.0
azure-mgmt-redhatopenshift==0.1.0
azure-mgmt-redis==7.0.0rc2
azure-mgmt-relay==0.1.0
azure-mgmt-reservations==0.6.0
azure-mgmt-resource==10.2.0
azure-mgmt-search==2.1.0
azure-mgmt-security==0.4.1
azure-mgmt-servicebus==0.6.0
azure-mgmt-servicefabric==0.4.0
azure-mgmt-signalr==0.4.0
azure-mgmt-sql==0.19.0
azure-mgmt-sqlvirtualmachine==0.5.0
azure-mgmt-storage==11.1.0
azure-mgmt-synapse==0.3.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-web==0.47.0
azure-ml-api-sdk==0.1.0a11
azure-multiapi-storage==0.4.1
azure-nspkg==3.0.2
azure-storage-common==1.4.2
azure-synapse-accesscontrol==0.2.0
azure-synapse-spark==0.2.0
azureml-automl-core==1.13.0
azureml-automl-runtime==1.13.0
azureml-cli-common==1.13.0
azureml-core==1.13.0
azureml-datadrift==1.13.0
azureml-dataprep==2.0.7
azureml-dataprep-native==20.0.2
azureml-dataset-runtime==1.13.0
azureml-defaults==1.13.0
azureml-explain-model==1.13.0
azureml-interpret==1.13.0
azureml-model-management-sdk==1.0.1b6.post1
azureml-pipeline==1.13.0
azureml-pipeline-core==1.13.0
azureml-pipeline-steps==1.13.0
azureml-sdk==1.13.0
azureml-telemetry==1.13.0
azureml-train==1.13.0
azureml-train-automl==1.13.0
azureml-train-automl-client==1.13.0.post1
azureml-train-automl-runtime==1.13.0
azureml-train-core==1.13.0
azureml-train-restclients-hyperdrive==1.13.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bandit==1.6.2
bcrypt==3.2.0
beautifulsoup4==4.7.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
bokeh==1.0.4
boto==2.49.0
boto3==1.14.58
botocore==1.17.58
Bottleneck==1.2.1
bs4==0.0.1
cachetools==4.1.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle==1.6.0
clyent==1.2.2
colorama==0.4.3
comtypes==1.1.7
conda==4.6.11
conda-build==3.17.8
conda-verify==3.1.1
configparser==3.7.4
contextlib2==0.5.5
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.14
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.4.0
defusedxml==0.5.0
dill==0.3.2
distributed==1.26.0
distro==1.5.0
docker==4.3.1
docutils==0.14
dotnetcore2==2.1.14
easydict==1.9
entrypoints==0.3
et-xmlfile==1.0.1
fabric==2.5.0
fastcache==1.0.2
filelock==3.0.10
fire==0.3.1
Flask==1.0.3
fusepy==3.0.1
future==0.17.1
gast==0.3.3
gensim==3.8.3
gevent==1.4.0
gitdb==4.0.5
GitPython==3.1.8
glob2==0.6
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.32.0
gunicorn==19.9.0
h5py==2.10.0
heapdict==1.0.0
html5lib==1.0.1
humanfriendly==8.2
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==1.7.0
interpret-community==0.14.4
interpret-core==0.2.1
invoke==1.4.1
ipaddress==1.0.23
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
isort==5.5.2
itsdangerous==1.1.0
javaproperties==0.5.1
jdcal==1.4
jedi==0.13.3
jeepney==0.4.3
Jinja2==2.10
jmespath==0.10.0
joblib==0.14.1
jsmin==2.2.2
json-logging-py==0.2
jsondiff==1.2.0
jsonpickle==1.4.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras-Preprocessing==1.1.2
keras2onnx==1.6.0
keyring==18.0.0
kiwisolver==1.0.1
knack==0.7.2
lazy-object-proxy==1.4.3
liac-arff==2.5.0
libarchive-c==2.8
lightgbm==2.3.0
llvmlite==0.28.0
locket==0.2.0
lxml==4.3.2
Markdown==3.3
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mock==4.0.2
more-itertools==6.0.0
mpmath==1.1.0
msal==1.0.0
msal-extensions==0.1.3
msgpack==0.6.1
msrest==0.6.19
msrestazure==0.6.4
multipledispatch==0.6.0
mypy==0.782
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysql-connector-python==8.0.17
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
ndg-httpsclient==0.5.1
networkx==2.2
nimbusml==1.7.1
nltk==3.4
nose==1.3.7
notebook==5.7.8
numba==0.43.1
numexpr==2.6.9
numpy==1.16.2
numpydoc==0.8.0
oauthlib==3.1.0
olefile==0.46
onnx==1.6.0
onnxconverter-common==1.6.0
onnxmltools==1.4.1
onnxruntime==1.0.0
openpyxl==2.6.1
opt-einsum==3.3.0
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
paramiko==2.7.2
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
pathspec==0.8.0
patsy==0.5.1
pbr==5.5.0
pep8==1.7.1
pickleshare==0.7.5
Pillow==5.4.1
pkginfo==1.5.0.1
pluggy==0.9.0
ply==3.11
pmdarima==1.1.1
portalocker==1.7.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.10.0
psutil==5.6.1
py==1.8.0
py-cpuinfo==5.0.0
py4j==0.10.9
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.3.1
PyJWT==1.7.1
pylint==2.6.0
PyNaCl==1.4.0
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyQt5==5.12
PyQt5-sip==4.19.19
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.6.8
pyspark==3.0.1
pytest==4.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
python-dotenv==0.14.0
pytz==2019.1
PyWavelets==1.0.2
pywin32==227
pywinpty==0.5.5
PyYAML==5.3.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
requests==2.22.0
requests-oauthlib==1.3.0
rope==0.12.0
rsa==4.6
ruamel-yaml==0.15.46
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scikit-image==0.14.2
scikit-learn==0.20.3
scipy==1.2.1
scp==0.13.2
seaborn==0.9.0
SecretStorage==3.1.2
Send2Trash==1.5.0
shap==0.34.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
skl2onnx==1.4.9
sklearn-pandas==1.7.0
smart-open==1.9.0
smmap==3.0.4
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.3.1
sshtunnel==0.1.5
statsmodels==0.9.0
stevedore==3.2.2
sympy==1.3
tables==3.5.1
tabulate==0.8.7
tblib==1.3.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toml==0.10.1
toolz==0.9.0
tornado==6.0.2
tqdm==4.31.1
traitlets==4.3.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
unicodecsv==0.14.1
urllib3==1.24.1
vsts==0.1.25
vsts-cd-manager==1.0.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.16.1
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.1.5
xlwings==0.15.4
xlwt==1.3.0
xmltodict==0.12.0
zict==0.1.4
zipp==3.1.0
