[Unit]
Description=A simple Flask API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=F:\Udemy Web Dev\recipe_bowl\api
ExecStart=F:\Udemy Web Dev\recipe_bowl\api\venv\bin\gunicorn -b 127.0.0.1:5000 api:app
Restart=always

[Install]
WantedBy=multi-user.target