.cards {
  padding: 2rem;
  background: #fff;
}

.header-new > h2 {
  text-align: center;
  padding: .75em;
  margin: auto;
  font-size: 35px;
}

.header-new > p {
  text-align: left;
  padding: .5em;
  padding-left: 2em;
  margin: auto;
  font-size: 20px;
}

.header-new > h3 {
  text-align: left;
  margin: auto;
  padding: .5em;
  padding-left: 2em;
  font-size: 20px;
}

.cards-container {

}

.card-new {
    margin-left: 3%;
    margin-top: 1.5%;
    margin-right: 3%;
    margin-bottom: 1.5%;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    min-height: 400px;
}

.newclass {
  text-align: center;
  padding: .75em;
  margin: auto;
  font-size: 35px;
}

.img-new {
  margin-top: 18%;
  border-radius: 10%;
  height: 300px;
  width: 600px;
  vertical-align: center;
}

.row-new {
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
}

.column-new {
  flex: 1;
}

.details-container-new {
  flex: 2;
}

.avatar-container-new {
    flex-basis: 400px;
    align-items: center;
}

hr.fancy-line {
    border: 0;
    height: 1px;
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}

hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
}




.cards__container-new {
  display: flex;
  flex: 0 0 100%;
  flex-flow: column nowrap;
  align-items: left;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper-new {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items-new {
  margin-bottom: 24px;
}

/*.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}
*/
.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}

.heart {
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  align-self: center;
  background-repeat:no-repeat;
  background-size:2900%;
  background-position: left;
  margin: auto;
  margin-top: -6%;
}
.heart:hover {
  background-position:right;
}
.heartclick {
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  align-items: center;

  background-repeat: no-repeat;
  background-size:2900%;
  background-position: right;

  margin: auto;
  margin-top: -6%;
}
